[Unit]
Description = The BeepBeep backend
After = network-online.target

[Service]
Type= simple
Restart = always
RestartSec = 5
ExecStart = /bin/bash /home/tomfoolery/TOMFoolery_BeepBeep/scripts/start_backend.sh

[Install]
WantedBy = default.target
