[Unit]
Description = The BeepBeep backend
After = network-online.target pull_data.service
Requires = pull_data.service
StartLimitIntervalSec = 10

[Service]
Type= simple
Restart = always
RestartSec = 5
ExecStart = /bin/bash /home/tomfoolery/TOMFoolery_BeepBeep/scripts/start_backend.sh

[Install]
WantedBy = default.target
