[Unit]
Description = Fetches GTFS static data
Wants = network-online.target
After = network-online.target

[Service]
User = tomfoolery
Type = oneshot
ExecStart = /bin/bash /home/tomfoolery/TOMFoolery_BeepBeep/scripts/pull_data.sh

