[Unit]
Description = Fetches data from the backend every week
After = network_online.target
Requires = pull_data.timer

[Timer]
OnCalendar = Weekly
Persistent = True

[Install]
WantedBy = backend.service
