[Unit]
Description = Fetches data from the backend every week
Requires = pull_data.service

[Timer]
OnCalendar = Weekly
Persistent = True

[Install]
WantedBy = timers.target
